* {
    font-family: 'Helvetica';
}

p {
    text-align: justify;
}
/*Home Page*/

.title {
    text-align: center;
    text-transform: uppercase;
}

.ul-hp li {
    list-style: none;
    font-weight: bold;
}

.list {
    display: inline-block;
}

.ul-hp {
    font-size: 30px;
    width: fit-content;
    text-align: center;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
    padding: 1em;
    align-items: baseline;
   
}

.block {
    align-items: center;
    float: left;
    border: solid 1px black;
    margin: 1em;
}
.image-hp {
    width: 10em;
    height: auto;
}

/*Pasta*/

.container {
    width: 80%;
    margin: auto;
    padding-top: 2em;
}
         
.btn-grad {
    background-image: linear-gradient(to right, #CC95C0 0%, #DBD4B4  51%, #CC95C0  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    float: right;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 